---
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"div">;
const { id, ...atrs } = Astro.props as Props;
---

<div
  id={id}
  {...atrs}
  class="sm:py-[.2em] sm:px-[.3em] w-fit text-sm text-[#5A3D29] px-[.2em] py-[.2em] flex gap-1 items-center rounded-[.3em] bg-[#E9D7C0] capitalize"
>
  <slot />
</div>
