@import "tailwindcss";
@theme {
  /* Background */
  --color-primary: var(--bg-primary);
  --color-switch: var(--sw-primary-bg);
  --color-toogle: var(--sw-toogle-bg);
  --color-footer: var(--bg-footer);
  /* Buton CTA */
  --color-cta: var(--btn-cta-bg);
  --color-cta-label: var(--btn-cta-label);
  --color-cta-hover-label: var(--btn-cta-bg-hover-label);
  --color-cta-hover: var(--btn-cta-bg-hover);

  --color-active: var(--btn-bg-active);
  --color-inactive: var(--btn-bg-inactive);
  --color-icon: var(--icon-primary-bg);
  --color-banner: var(--banner-primary-bg);
  --color-navbar: var(--nav-primary-bg);
  --color-card: var(--card-primary-bg);
  --color-border-dashed: var(--border-dashed);
  --color-border-left: var(--border-left);

  /* Text */
  --color-icon-svg: var(--icon-primary-svg);
  --color-text-icon: var(--icon-primary-label);
  --color-banner-svg: var(--banner-primary-svg);
  --color-text-banner: var(--banner-primary-label);
  --color-primary-tailwind: var(--text-title);
  --color-secondary: var(--text-secondary);
  --color-thirty: var(--text-thirty);
  --color-name: var(--text-name);
  --color-exp: var(--text-exp);
  --color-button: var(--btn-primary-label);
  --color-text-active: var(--btn-bg-active);
  --color-text-inactive: var(--btn-bg-inactive);

  /* Shadow */
  --color-xs: var(--shadow-xs);
}

:root {
  /* BG Generales */
  --bg-primary: #e9d7c0;
  --bg-project: #72614b;
  --bg-exp: #46382c;
  --bg-badge-exp: #c43981;
  --bg-about: #eff3f1;
  --bg-footer: #4c3932;
  --bg-slider-skills: #afa190; /*por sicaso*/
  --bg-light: #e9d7c0;

  /* ICONS */
  --icon-primary-bg: #ffff;
  --icon-primary-svg: #92ada4;
  --icon-primary-label: #839c94; /*Cuando haya label*/

  /* Text */
  --text-title: #46382c;
  --text-secondary: #f4e2dc;
  --text-thirty: #745e49;
  --text-name: #dde6e3;
  --text-exp: #8c8173;

  /* Banner */
  --banner-primary-label: #92ada4;
  --banner-primary-bg: #eff3f1;
  --banner-primary-svg: #dde6e3;

  /*  Shadown */
  --shadow-xs: #e9d7c0;

  /* Button CTA*/
  --btn-cta-bg: #8c7157;
  --btn-cta-label: #f4e2dc;
  --btn-cta-bg-hover: #ffff;
  --btn-cta-bg-hover-label: #8c7157;

  /* Button Enlaces (Links) */
  --btn-link-bg: #758a73;
  --btn-link-label: #ffff;
  --btn-link-hover: #92ada4;

  /* Button Proyect */
  --btn-bg-active: #524b43;
  --btn-bg-inactive: #f4e2dc;
  --btn-text-active: var(--btn-bg-active);
  --btn-text-inactive: var(--btn-bg-inactive);

  /* Navbar */
  --nav-primary-bg: #f4f7f6;

  /* Switch */
  --sw-primary-bg: #afa190;
  --sw-toogle-bg: #4c3932;

  /* Border */
  --border-dashed: #baac9a;
  --border-left: #daa38f;
  --border-shadow-left: #ffff;

  /* Card  */

  --card-primary-bg: #f0ece7;
  --card-primary-label: #758a83;
  --card-primary-title: #ffff;
}
[data-theme="dark"] {
  /* BG Generales */
  --bg-primary: #524b43;
  --bg-project: #afa190;
  --bg-exp: #586862;
  --bg-badge-exp: #d2c2ad;
  --bg-about: #524b43;
  --bg-footer: #4c3932;
  --bg-slider-skills: #ffff; /*por sicaso*/
  --bg-light: #fed8a6;

  /* ICONS */
  --icon-primary-bg: #afa190;
  --icon-primary-svg: #f0ece7;
  --icon-primary-label: #f0ece7; /*Cuando haya label*/

  /* Text */
  --text-title: #e0d7ce;
  --text-secondary: #e0d7ce;
  --text-thirty: #f0ece7;
  --text-name: #696156;
  --text-exp: #baac9a;

  /* Banner */
  --banner-primary-label: #f4f7f6;
  --banner-primary-bg: #92ada4;
  --banner-primary-svg: #839c94;

  /*  Shadown */
  --shadow-xs: #fed8a6;

  /* Button CTA*/
  --btn-cta-bg: #fbf6f4;
  --btn-cta-bg-hover: #696156;
  --btn-cta-label: #8c7157;
  --btn-cta-bg-hover-label: #fbf6f4;

  /* Button Enlaces (Links) */
  --btn-link-bg: #758a83;
  --btn-link-label: #ffff;
  --btn-link-hover: #6e827b;

  /* Navbar */
  --nav-primary-bg: #92ada4;

  /* Switch */
  --sw-primary-bg: #524b43;
  --sw-toogle-bg: #fbf6f4;

  /* Border */
  --border-dashed: #696156;
  --border-left: #f4e2dc;
  --border-shadow-left: #ffff;

  /* Card  */

  --card-primary-bg: #696156;
  --card-primary-label: #fff;
  --card-primary-title: #ffff;
}

/* FONTS MONTSERRAT*/
@font-face {
  font-family: MontserratRegular;
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: MontserratMedium;
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
  font-family: MontserratSemiBold;
  src: url(/fonts/Montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: MontserratBold;
  src: url(/fonts/Montserrat/Montserrat-Bold.ttf);
}
/* FONTS OPENSANS*/
@font-face {
  font-family: OpenSansRegular;
  src: url(/fonts/OpenSans/OpenSans-Regular.woff);
}
@font-face {
  font-family: OpenSansLight;
  src: url(/fonts/OpenSans/OpenSans-Light.woff);
}
@font-face {
  font-family: OpenSansBold;
  src: url(/fonts/OpenSans/OpenSans-Bold.woff);
}
@font-face {
  font-family: OpenSansSemiBold;
  src: url(/fonts/OpenSans/OpenSans-SemiBold.woff);
}
/* FONTS RobotoCondensed*/
@font-face {
  font-family: RobotoCondensedLight;
  src: url(/fonts/RobotoCondensed/RobotoCondensed-Light.ttf);
}
@font-face {
  font-family: RobotoCondensedRegular;
  src: url(/fonts/RobotoCondensed/RobotoCondensed-Regular.ttf);
}
/* FONTS BebaNeue*/
@font-face {
  font-family: BebasNeueRegular;
  src: url(/fonts/Bebas_Neue/BebasNeueRegular.ttf);
}
/* FONTS Homemade Apple*/
@font-face {
  font-family: HomemadeApple;
  src: url(/fonts/Homemade_Apple/HomemadeAppleRegular.ttf);
}

* {
  transition:
    background-color 200ms linear 0.1s,
    color 200ms linear,
    border-color 200ms ease-in-out 0.2s;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: auto;
  background-color: var(--bg-primary);
  overflow-x: hidden;
}

body {
  position: relative;
  padding-left: 96px;
  padding-right: 96px;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 20em;
  left: -50px;
}

nav {
  animation: animation-nav 300ms linear forwards;
}

nav li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 0.4em;
  transition: transform 0.2s ease-in-out;
}

nav li:hover:not(:last-child) {
  transform: scale(1.1);
  border-radius: 100%;
  background-color: white;
}
nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
nav a:hover > span {
  color: #92ada4;
}
nav a svg {
  stroke: #92ada4;
}
.nav-hidden {
  opacity: 0;
}
/* CARD PROJECT - INTERACTIVE JS */
#details-project-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-card,
.body-card,
.footer-card {
  display: flex;
  flex-direction: column;
}
/* HEADER */
.title-card-project {
  font-family: BebasNeueRegular;
  font-size: 64px;
  color: #000000;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
}
.info_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info_content > .info {
  font-size: 14px;
  font-family: OpenSansRegular;
}
/* BODY */
.body-card {
  gap: 14px;
}
.section {
  width: 100%;
  height: auto;
  gap: 8px;
  display: flex;
  align-items: start;
}

.section .subtitle-card-project {
  min-width: 15em;
  font-size: 20px;
  font-family: MontserratMedium;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.section .description-card-project {
  width: 100%;
  font-size: 14px;
  font-family: OpenSansRegular;
  line-height: 2.5;
}
.section > .badge-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.section > .badge-content .badge,
a {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 12px;
  font-family: OpenSansRegular;
  text-transform: uppercase;
  color: black;
  width: fit-content;
}
.section > .badge-content .badge:not(:first-child) {
  padding: 0px 8px;
}
.footer-card > .section > subtitle-card-project a {
  cursor: pointer;
  text-decoration: underline;
}
.footer-card > .section > subtitle-card-project a:visited {
  color: blue;
}
/* estado project*/

#details-project-content {
  transform: translateX(950px);
  border: 1px solid black;
  animation: animateActive 2s linear 0.1ms forwards;
}
.active:focus,
.active {
  border: 2px solid #92795d;
  color: #92795d !important;
  background-color: transparent;
}
.inactive {
  background-color: var(--btn-bg-inactive);
}

/* ANIMACION EN PATH - EXPERIENCE */
.circular-text-content {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 100;
  fill: #92795d;
  animation: animatePath 50s linear reverse infinite;
  transform-origin: center;
}
/* scroll styles */
.thin-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.35) transparent;
}

/* Chrome, Edge, Safari */
.thin-scrollbar::-webkit-scrollbar {
  height: 6px; /* 👈 delgado */
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 999px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.55);
}
/* TEXTAREA RESIEZE */
textarea {
  resize: vertical;
}
/* incon random */
.icons-wrapper {
  position: relative;
  width: 30%;
  height: 250px;
}
.icon {
  position: absolute;
  opacity: 0.25;
  animation: icons 3000ms ease-in-out infinite;
}
/* posiciones “aleatorias” pero pensadas */
.ibd {
  top: 10%;
  left: 5%;
}
.icss {
  top: 65%;
  left: 40%;
}
.ihtml {
  top: 25%;
  left: 45%;
}
.ijs {
  top: 15%;
  left: 80%;
}
.ipencil {
  bottom: 0%;
  left: 55%;
}
.ireact {
  top: 80%;
  left: 25%;
}
.itailwind {
  top: 75%;
  left: 15%;
}
.itype {
  bottom: 10%;
  right: 5%;
}
/* PHOTO AND NAME */
.about_name {
  font-size: 11rem;
  line-height: 8rem;
}
/* Slider animate */
.animate_slider {
  animation: animate_slider 20s linear infinite;
}
.slider-content {
  mask-image: linear-gradient(
    to right,
    transparent,
    #524b43 70%,
    #524b43 90%,
    transparent
  );
}
.slide {
  opacity: 0.8;
  white-space: nowrap;
}

/* Toogle */
[data-theme="dark"] .toggle-btn {
  transform: translateY(1.5rem);
}

@media (max-width: 647px) {
  body {
    padding: 0px !important;
  }
  .slide {
    opacity: 0.8;
    white-space: nowrap;
  }
  /* Slider animate */
  .animate_slider {
    animation: animate_slider 15s linear infinite;
  }
}

@keyframes animatePath {
  0% {
    transform: rotate(360deg);
  }
}
@keyframes animateActive {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
    border-radius: 20px;
  }
}
@keyframes icons {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes animate_slider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes animation-nav {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(100%);
  }
}
