---
import Coffe from "../../custom/icon/Coffe.astro";
---

<div
  class="relative left-0 max-w-full border-t border-black flex flex-col px-8 py-4"
>
  <!-- bagde -->
  <div
    class="absolute left-0 -top-6 flex flex-row gap-1 items-end bg-[#e9d7c0] pr-4"
  >
    <Coffe size="30px" />
    <span
      class="text-[#9B7D61]/40 mb-0 text-[.8em] font-[OpenSansSemiBold] tracking-wider"
      >Julio 2022 - Diciembre 2022</span
    >
  </div>
  <!-- header -->
  <div class="flex flex-col gap-4 items-start">
    <div>
      <h1
        class="uppercase font-[OpenSansBold] text-2xl text-[#5A3D29] tracking-widest"
      >
        Pyrus hd s.a.c
      </h1>
      <span
        class="w-fit rounded-full bg-[#FED8A6] text-white font-[OpenSansSemiBold] px-4 py-0.5 uppercase text-[.8em]"
        >remote</span
      >
    </div>
    <div class="flex flex-col gap-1.5">
      <div class="flex gap-2 items-start">
        <img src="/svg/circle.svg" alt="icon" class="py-1" />
        <span class="font-[OpenSansLight] text-[.7em]"
          >Maquetación de sitios web responsivos y accesibles utilizando HTML5,
          CSS3 y JavaScript moderno.</span
        >
      </div>
      <div class="flex gap-2 items-start">
        <img src="/svg/circle.svg" alt="icon" class="py-1" />
        <span class="font-[OpenSansLight] text-[.7em]"
          >Integración de componentes dinámicos y funcionalidades interactivas
          con Vue.js.</span
        >
      </div>
      <div class="flex gap-2 items-start">
        <img src="/svg/circle.svg" alt="icon" class="py-1" />
        <span class="font-[OpenSansLight] text-[.7em]"
          >Desarrollo de backend con PHP y frameworks como Laravel,
          implementando autenticación, rutas y consumo de APIs.</span
        >
      </div>
      <div class="flex gap-2 items-start">
        <img src="/svg/circle.svg" alt="icon" class="py-1" />
        <span class="font-[OpenSansLight] text-[.7em]"
          >Colaboración en proyectos con enfoque en rendimiento, escalabilidad y
          buenas prácticas de desarrollo.</span
        >
      </div>
    </div>
  </div>
</div>

