---
import Contact from "src/components/Contact.astro";
import Main from "@/layouts/main.astro";
import Hero from "@/layouts/Hero.astro";
import Proyects from "@/layouts/Proyects.astro";
import Experience from "@/layouts/Experience.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Main>
  <Hero />
  <Proyects />
  <Experience />
  <Contact />
</Main>
