---
import Main from "@/layouts/main.astro";
import Hero from "@/layouts/Hero.astro";
import Proyects from "@/layouts/Proyects.astro";
import Experience from "@/layouts/Experience.astro";
import Contact from "@/layouts/Contact.astro";
import BannerLayout from "@/layouts/BannerLayout.astro";
import AboutMeLayout from "@/layouts/AboutMeLayout.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Main>
  <Hero />
  <Proyects />
  <BannerLayout />
  <Experience />
  <AboutMeLayout />
  <Contact />
</Main>
