---
import ExpeCustom from "./custom/experience/ExpeCustom.astro";
---

<section
  id="experiencia"
  class="relative h-full w-full flex flex-col items-center justify-start border"
>
  <div class="absolute top-24 h-auto w-full flex flex-col items-center gap-14">
    <h1 class="font-[MontserratMedium] text-7xl uppercase w-full text-end">
      Experiencia
    </h1>
    <div class="w-full grid grid-cols-4 gap-5">
      <ExpeCustom />
    </div>
  </div>
</section>
