---
import listNav from "../samples/NavLinks.json";
---

<nav
  id="navbar"
  class="fixed top-4 left-1/2 -translate-x-1/2 z-10 rounded-full py-3 h-auto bg-[#92ADA4] shadow-md shadow-[#92ADA4] opacity-0 invisible"
>
  <div class="w-full flex items-center justify-between gap-8">
    {
      listNav.map((item) => (
        <span
          data-id={`${item.name}`}
          class="text-[#E9D7C0] first:pl-8 last:pr-8 hover:text-white cursor-pointer capitalize active:font-bold active:text-white transition-all duration-300"
        >
          {item.name}
        </span>
      ))
    }
  </div>
</nav>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  // Asegúrate de que esto ocurra **después** de que el DOM esté completamente cargado
  window.addEventListener("DOMContentLoaded", () => {
    const navbar = document.getElementById("navbar");
    const links = document.querySelectorAll("nav div span[data-id]");

    const sections =
      document.querySelectorAll(
        "section[id]"
      ); /*Selecciona todas las secciones que tienen el atributo id*/

    sections.forEach((section) => {
      const id = section.getAttribute("id"); /*Obten el id de cada section*/
      console.log("sectiones", id);

      links?.forEach((item) =>
        item.addEventListener("click", () => {
          const link = item.getAttribute("data-id");
          if (link)
            document
              .getElementById(link)
              ?.scrollIntoView({ behavior: "smooth" });
        })
      );
      // GSAP
      const tl = gsap.timeline({ ease: "sine.out" });
      tl.fromTo(
        "#inicio h1",
        {
          autoAlpha: 1,
          opacity: 0,
          scale: 0,
          duration: 1.5,
        },
        {
          autoAlpha: 1,
          scale: 1,
          opacity: 1,
          duration: 1.5,
        }
      )
        .fromTo(
          "#inicio span",
          { autoAlpha: 0, opacity: 0, y: -20, duration: 1.2 },
          { autoAlpha: 1, opacity: 1, y: 0, duration: 1.2 },
          "-=0.8"
        )
        .fromTo(
          "#inicio button",
          { autoAlpha: 0, opacity: 0, y: -20, duration: 1.5 },
          { autoAlpha: 1, opacity: 1, y: 0, duration: 1.5, stagger: 0.4 },
          "-=0.5"
        );

      ScrollTrigger.create({
        trigger: section,
        start: "top 100px",
        end: "bottom 100px",
        scrub: 4,
        markers: true,
        onEnter: () => {
          if (id === "proyectos") {
            gsap.to(navbar, {
              autoAlpha: 1,
              scale: 1,
              display: "flex",
              duration: 0.5,
            });
          }
        },
        onEnterBack: () => {
          if (id === "inicio") {
            gsap.to(navbar, {
              autoAlpha: 0,
              scale: 0,
              display: "none",
              duration: 0.5,
            });
          }
        },
      });
    });
  });
</script>
