---
import TargetCustom from "./custom/targets/TargetCustom.astro";
---

<section id="proyectos" class="relative w-full h-screen flex-col text-center">
  <h1
    class="absolute top-24 title w-full md:text-7xl font-[MontserratMedium] text-2xl uppercase"
  >
    Proyectos
  </h1>
  <TargetCustom />
</section>
<script>
  import gsap from "gsap";
  const tl = gsap.timeline({ ease: "sine.out", duration: 0.5 });

  tl.from(
    ".title",
    {
      y: -20,
      opacity: 0,
    },
    "+=0.5"
  );
</script>
