---
import TargetCustom from "./custom/targets/TargetCustom.astro";
---

<section
  id="proyectos"
  class="w-full h-screen flex items-center justify-center"
>
  <div class="h-auto w-full flex flex-col gap-14">
    <div class="flex flex-col justify-center items-center gap-6">
      <h1 class="font-[MontserratMedium] text-4xl uppercase">Proyectos</h1>
      <span class="font-[OpenSansLight] text-sm"
        >Conoce alguno de los proyectos en los que trabajé recientemente
      </span>
    </div>
    <TargetCustom />
  </div>
</section>
<script>
  const floatButton = document.getElementById("floatButton");
  floatButton?.addEventListener("click", () => {
    document
      .getElementById("proyectos")
      ?.scrollIntoView({ behavior: "smooth" });
  });
</script>
