---
import TargetCustom from "./custom/targets/TargetCustom.astro";
---

<section
  id="proyectos"
  class="items-center w-full h-screen flex justify-center px-2 text-center"
>
  <div class="md:gap-14 h-auto w-full flex flex-col gap-4">
    <div class="md:gap-6 flex flex-col justify-center items-center gap-4">
      <h1 class="md:text-4xl font-[MontserratMedium] text-2xl uppercase">
        Proyectos
      </h1>
      <span class="font-[OpenSansLight] text-sm"
        >Conoce alguno de los proyectos en los que trabajé recientemente
      </span>
    </div>
    <TargetCustom />
  </div>
</section>
<script>
  const floatButton = document.getElementById("floatButton");
  floatButton?.addEventListener("click", () => {
    document
      .getElementById("proyectos")
      ?.scrollIntoView({ behavior: "smooth" });
  });
</script>
