---
import ButtonCustom from "./custom/buttons/ButtonCustom.astro";
import { Icon } from "astro-icon/components";

const titles = [
  { name: "Ver m치s", icon: "mdi:arrow-right-thin" },
  { name: "Descargar", icon: "mdi:file-pdf-box" },
];
---

<section class="h-full flex flex-col items-start justify-center gap-8">
  <div class="flex flex-col items-start gap-4 ">
    <h1 class="w-1/2 font-[MontserratRegular] text-8xl text-[#5A3D29]">
      DESARROLLADOR WEB & MOBILE
    </h1>
    <span class="w-1/2 font-[OpenSansRegular] text-[16px] tracking-widest pl-2"
      >Hola, mi nombre es Henry Castillo, soy un programador web, especializado
      en el dise침o de p치ginas web y aplicativos m칩viles.</span
    >
  </div>
  <div class="w-1/3 flex justify-between gap-5">
    {
      titles.map((item, index) => (
        <ButtonCustom id={`button-${index}`} type="button">
          {item.name} <Icon name={item.icon} class="w-6 h-6" />
        </ButtonCustom>
      ))
    }
  </div>
</section>
