---
import ButtonCustom from "./custom/buttons/ButtonCustom.astro";
import { Icon } from "astro-icon/components";

const titles = [
  { name: "Ver m치s", icon: "mdi:arrow-right-thin" },
  { name: "Descargar", icon: "mdi:file-pdf-box" },
];
---

<section
  id="inicio"
  class="2xl:w-full lg:w-11/12 sm:gap-8 relative w-10/12 left-1/2 -translate-x-1/2 h-screen flex flex-col flex-wrap items-start justify-center gap-6 px-2 transition-all duration-300 flex-initial"
>
  <div class="sm:gap-4 flex flex-col items-start justify-center gap-2">
    <h1
      class="2xl:text-8xl lg:text-7xl lg:w-2/5 sm:text-4xl text-start font-[MontserratRegular] w-full text-2xl text-[#5A3D29] flex-initial"
    >
      DESARROLLADOR WEB & MOBILE
    </h1>
    <span
      class="lg:w-1/2 lg:pl-2 sm:text-[1em] sm:w-full font-[OpenSansRegular] w-11/12 text-start text-[.7em] tracking-widest"
      >Hola, mi nombre es Henry Castillo, soy un programador web, especializado
      en el dise침o de p치ginas web y aplicativos m칩viles.</span
    >
  </div>
  <div
    class="lg:w-3/5 md:w-full md:flex-row md:gap-5 md:justify-between w-full flex flex-col gap-2 duration-300 transition-all"
  >
    {
      titles.map((item, index) => (
        <ButtonCustom id={`button-${index}`} type="button">
          {item.name} <Icon name={item.icon} class="w-6 h-6" />
        </ButtonCustom>
      ))
    }
  </div>
  <ButtonCustom
    id="floatButton"
    class="lg:right-0 lg:p-7 lg:translate-x-0 absolute bottom-2 right-1/2 translate-x-1/2 rounded-full bg-[#DAA38F] cursor-pointer animate-bounce-custom"
    ><Icon
      name="mdi:arrow-down"
      class="lg:w-10 lg:h-10 w-7 h-14 text-white"
    /></ButtonCustom
  >
</section>
