---
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"button">;
const { type, title, style, ...atrs } = Astro.props as Props;
import { cn } from "src/lib/utils.ts";
---

<button
  {...atrs}
  class={cn(
    "w-full min-h-12 flex items-center px-8 bg-cta hover:bg-cta-hover group",
    style,
  )}
>
  <span
    class="text-cta-label font-[MontserratSemiBold] text-sm tracking-widest group-hover:text-cta-hover-label"
    >{title}</span
  >
</button>
