---
import type { HTMLAttributes } from "astro/types";
type Props = { id?: string; title?: string } & HTMLAttributes<"button">;
const { type = "submit", id, title, style, ...atrs } = Astro.props as Props;
import { cn } from "src/lib/utils.ts";
---

<button
  id={id}
  type={type}
  class={cn(
    "w-full min-h-12 flex items-center px-8 bg-cta hover:bg-cta-hover group",
    style,
  )}
>
  <slot />
</button>
<script>
  document.getElementById("downloadBtn")?.addEventListener("click", () => {
    const link = document.createElement("a");
    link.href = "/cv/HenryCastillo_CV.pdf";
    link.download = "Henry-Castillo-CV.pdf";
    link.click();
  });
</script>
