---
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"label">;
const { title, ...atrs } = Astro.props as Props;
---

<label {...atrs} class="w-full text-lg font-[OpenSansLight]">{title}</label>
