---

---

<div class="absolute top-0 right-0 w-full h-full border flex justify-end">
  <p class="w-3/12 h-full font-[HomemadeApple] text-end text-4xl leading-18">
    “Cada experiencia es un grano de café, mientras más experiencia gano, más
    fuerte será el café.”
  </p>
</div>
