---

---

<div class="absolute top-10 right-0 w-full h-full flex justify-end">
  <p class="w-4/12 h-full font-[HomemadeApple] text-end text-5xl leading-18">
    “Cada experiencia es un grano de café, mientras más experiencia gano, más
    fuerte será el café.”
  </p>
</div>
