---

---

<div class="lg:flex absolute top-10 right-0 w-full h-full justify-end hidden">
  <p
    class="2xl:text-5xl 2xl:leading-17 xl:text-5xl xl:leading-13 md:leading-12 md:text-4xl w-4/12 h-full font-[HomemadeApple] text-end text-thirty"
  >
    “Cada experiencia es un grano de café, mientras más experiencia gano, más
    fuerte será el café.”
  </p>
</div>
