---
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"div">;
const { title, ...atrs } = Astro.props as Props;
---

<button {...atrs} class="w-30 h-30 bg-black rounded-2xl">
  <div class="w-full h-full flex items-center">
    <span
      class="w-full text-white font-[OpenSansBold] text-lg text-center uppercase"
    >
      {title}
    </span>
  </div>
</button>
