---

---

<div class="icons-wrapper">
  <img class="icon ibd" src="/svg/Grafs/BD.svg" />
  <img class="icon icss" src="/svg/Grafs/CSS.svg" />
  <img class="icon ihtml" src="/svg/Grafs/HTML.svg" />
  <img class="icon ijs" src="/svg/Grafs/Js.svg" />
  <img class="icon ipencil" src="/svg/Grafs/PENCIL.svg" />
  <img class="icon ireact" src="/svg/Grafs/React.svg" />
  <img class="icon itailwind" src="/svg/Grafs/TAILWIND.svg" />
  <img class="icon itype" src="/svg/Grafs/TYPESCRIPT.svg" />
</div>
