---

---

<div class="icons-wrapper">
  <img class="icon ibd" src="../../../public/svg/Grafs/BD.svg" />
  <img class="icon icss" src="../../../public/svg/Grafs/CSS.svg" />
  <img class="icon ihtml" src="../../../public/svg/Grafs/HTML.svg" />
  <img class="icon ijs" src="../../../public/svg/Grafs/Js.svg" />
  <img class="icon ipencil" src="../../../public/svg/Grafs/PENCIL.svg" />
  <img class="icon ireact" src="../../../public/svg/Grafs/React.svg" />
  <img class="icon itailwind" src="../../../public/svg/Grafs/TAILWIND.svg" />
  <img class="icon itype" src="../../../public/svg/Grafs/TYPESCRIPT.svg" />
</div>
