---
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"div">;
const { title } = Astro.props as Props;
---

<div class="w-full h-auto">
  <div class="flex items-center xl:gap-16 gap-4">
    <div class="xl:w-10/12 w-full border-2 border-[#9B7D61]"></div>
    <span
      class="2xl:text-8xl xl:w-[4em] xl:text-7xl md:text-7xl min-[425px]:w-fit min-[425px]:text-4xl min-[425px]:text-end w-full text-center font-[BebasNeueRegular] text-3xl uppercase tracking-wider text-primary-tailwind"
    >
      {title}
    </span>
  </div>
</div>
