---
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"div">;
const { title } = Astro.props as Props;
---

<div class="w-full">
  <div class="w-full flex items-center gap-2">
    <img src="../../../public/svg/SoftSkills.svg" />
    <span class="text-white">{title}</span>
  </div>
</div>
