---
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"div">;
const { title } = Astro.props as Props;
---

<div class="w-full">
  <div class="w-full flex items-center gap-2">
    <img src="../../../public/svg/SoftSkills.svg" />
    <span class="sm:text-sm text-secondary text-xs font-[OpenSansLight]"
      >{title}</span
    >
  </div>
</div>
