---
import type { HTMLAttributes } from "astro/types";
type Props = { svg: string } & HTMLAttributes<"div">;
const { title, svg } = Astro.props as Props;
---

<div class="w-full flex flex-col gap-5">
  <div class="w-full flex items-center gap-2">
    <img src={svg} />
    <span class="w-full sm:text-sm text-secondary text-xs font-[OpenSansLight]"
      >{title}</span
    >
  </div>
</div>
