---
import type { HTMLAttributes } from "astro/types";
type Props = { svg: string } & HTMLAttributes<"div">;
import { cn } from "@/lib/utils";
const { class: className, title, svg } = Astro.props as Props;
---

<div class={cn("w-full flex flex-col gap-5 tracking-wider", className)}>
  <div class="w-full flex items-center gap-2">
    <img src={svg} />
    <span class="w-full sm:text-sm text-secondary text-xs font-[OpenSansLight]"
      >{title}</span
    >
  </div>
</div>
