<div class="relative w-full h-full">
  <span
    class="xl:text-[11rem] xl:leading-32 min-[425px]:text-5xl text-3xl text-center leading-5 absolute bottom-0 w-full font-[MontserratBold] text-primary-tailwind uppercase"
  >
    henry castillo
  </span>
  <div class="xl:justify-end w-full flex justify-center border">
    <img
      class="xl:w-125 xl:h-125 relative -z-10 right-0 w-50 h-50 rounded-full overflow-hidden object-cover"
      src="../../../public/img/Yo.webp"
    />
  </div>
</div>
