<div class="relative w-full h-full">
  <span
    class="xl:text-[11rem] xl:leading-32 lg:text-start lg:text-8xl md:text-7xl sm:leading-11 sm:text-6xl min-[425px]:leading-10 text-5xl text-center leading-9 absolute bottom-0 w-full z-10 font-[MontserratBold] text-primary-tailwind uppercase"
  >
    henry castillo
  </span>
  <div class="lg:justify-end w-full flex justify-center photo_wrapper">
    <img
      class="xl:w-125 xl:h-125 md:w-90 md:h-90 sm:w-60 sm:h-60 relative right-0 w-70 h-70 rounded-full overflow-hidden object-cover effect_photo"
      src="../../../public/img/Yo.webp"
    />
  </div>
</div>
