<div class="relative w-full h-full">
  <span
    class="absolute bottom-0 w-full font-[MontserratBold] uppercase about_name"
  >
    henry castillo
  </span>
  <div class="w-full flex justify-end">
    <img
      class="relative -z-10 right-0 w-125 h-125 rounded-full overflow-hidden object-cover"
      src="../../../public/img/Yo.webp"
    />
  </div>
</div>
