---

---

<div
  class="md:w-4/12 md:items-end md:relative md:bottom-0 md:left-0 w-full absolute bottom-16 left-0 flex flex-col items-center justify-center gap-4 animate-bounce"
>
  <div
    class="sm:flex-col sm:gap-1.5 gap-2 w-fit flex items-center justify-center"
  >
    <span class="tracking-widest text-sm font-[MontserratRegular] text-thirty"
      >Desliza hacia abajo</span
    >
    <svg
      class="h-6 w-6"
      viewBox="0 0 24 24"
      class="text-thirty"
      stroke="currentColor"
      stroke-width="3"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
    </svg>
  </div>
</div>
