---

---

<div class="flex flex-col gap-4">
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-1.5">
      <label class="font-[OpenSansLight] text-[.8em] text-[#E9D7C0]"
        >Nombre Completo</label
      >
      <input
        type="text"
        class="bg-white border-none rounded-[.7em] p-2 text-[#5A3D29] px-4 shadow-md outline-none focus:outline-1 focus:ring-1 focus:ring-[#E9D7C0] focus:shadow-[#E9D7C0]"
        placeholder="Ingresa tu Nombre Completo"
      />
    </div>
    <div class="flex flex-col gap-1.5">
      <label class="font-[OpenSansLight] text-[.8em] text-[#E9D7C0]"
        >Correo</label
      >
      <input
        type="text"
        class="bg-white border-none rounded-[.7em] p-2 text-[#5A3D29] px-4 shadow-md outline-none focus:outline-1 focus:ring-1 focus:ring-[#E9D7C0] focus:shadow-[#E9D7C0]"
        placeholder="Ingresa tu Correo"
      />
    </div>
    <div class="flex flex-col">
      <label class="font-[OpenSansLight] text-[.8em] text-[#E9D7C0]"
        >Mensaje</label
      >
      <textarea
        class="h-full min-h-64 bg-white border-none rounded-[.7em] p-2 text-[#5A3D29] px-4 shadow-md outline-none focus:outline-1 focus:ring-1 focus:ring-[#E9D7C0] focus:shadow-[#E9D7C0]"
        placeholder="Ingresa tu Mensaje"></textarea>
    </div>
  </div>
  <div class="w-full"></div>
</div>
