---
import GroupGraf from "../molecules/GroupGraf.astro";
import HeaderMolecule from "../molecules/HeaderMolecule.astro";
import PhotoNameMolecule from "../molecules/PhotoNameMolecule.astro";
---

<div
  id="about"
  class="xl:py-24 xl:px-24 sm:p-10 bg-primary relative left-1/2 -translate-x-1/2 w-screen py-10"
>
  <div class="w-full h-full px-2 flex flex-col gap-4">
    <HeaderMolecule title={"Sobre Mi"} />
    <div class="md:flex-row w-full flex flex-col">
      <div class="w-full flex flex-col gap-5">
        <span
          class="font-[OpenSansLight] 2xl:text-2xl sm:text-lg text-sm tracking-wider xl:leading-12 leading-8 text-thirty"
          >Soy Programador Web Frontend y Diseñador UX/UI enfocado en el diseño
          y desarrollo de experiencias web y móviles, cuidando tanto el diseño
          como la implementación.</span
        >
        <span
          class="font-[OpenSansLight] 2xl:text-2xl sm:text-lg text-sm tracking-wider xl:leading-12 leading-8 text-thirty"
          >Cuento con 3 años de experiencia desarrollando aplicaciones web
          escalables, con un diseño moderno, interactivo e intuitiva, de forma
          funcional.
        </span>
        <span
          class="font-[OpenSansLight] 2xl:text-2xl sm:text-lg text-sm tracking-wider xl:leading-12 leading-8 text-thirty"
          >Tengo conocimientos en backend para integrar servicios de forma
          eficiente.</span
        >
      </div>
      <GroupGraf />
    </div>
    <PhotoNameMolecule />
  </div>
</div>
