---
import LinkContact from "../molecules/LinkContact.astro";
---

<div class="flex flex-col gap-2">
  <LinkContact
    svg="../../../public/svg/icons/Email.svg"
    title={"Hdaniel031499@gmail.com"}
  />
  <LinkContact
    svg="../../../public/svg/icons/Whatsapp.svg"
    title={"+51 922516022"}
  />
  <LinkContact
    svg="../../../public/svg/icons/World.svg"
    title={"Perú - Remoto"}
  />
</div>
