---
import CardExpMolecule from "../molecules/CardExpMolecule.astro";
---

<div
  class="w-full flex overflow-x-auto scroll-smooth thin-scrollbar gap-4 py-4 px-2"
>
  <CardExpMolecule />
  <CardExpMolecule />
  <CardExpMolecule />
  <CardExpMolecule />
  <CardExpMolecule />
  <CardExpMolecule />
</div>
