---
import CardExpMolecule from "../molecules/CardExpMolecule.astro";
---

<div
  class="md:px-2 md:flex-row md:flex sm:grid-cols-4 min-[425px]:grid-cols-2 grid overflow-x-auto scroll-smooth thin-scrollbar gap-4 p-2"
>
  <CardExpMolecule />
  <CardExpMolecule />
  <CardExpMolecule />
  <CardExpMolecule />
  <CardExpMolecule />
  <CardExpMolecule />
</div>
