---
import AboutAtom from "../atoms/Navbar/AboutAtom.astro";
import ContactAtom from "../atoms/Navbar/ContactAtom.astro";
import ExpAtom from "../atoms/Navbar/ExpAtom.astro";
import HomeAtom from "../atoms/Navbar/HomeAtom.astro";
import WorkAtom from "../atoms/Navbar/WorkAtom.astro";
---

<nav id="navbar" class="w-auto h-auto rounded-full z-50 p-4 bg-[#92ADA4]">
  <ul class="w-full flex flex-col gap-3">
    <li>
      <a data-id="home" href="#">
        <HomeAtom />
      </a>
    </li>
    <li>
      <a data-id="project" href="#"><WorkAtom /></a>
    </li>
    <li>
      <a data-id="exp" href="#"><ExpAtom /></a>
    </li>
    <li>
      <a data-id="about" href="#"><AboutAtom /></a>
    </li>
    <li>
      <a data-id="contact" href="#"><ContactAtom /></a>
    </li>
  </ul>
</nav>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const links = document.querySelectorAll<HTMLAnchorElement>(
    "nav ul li a[data-id]",
  );

  window.addEventListener("DOMContentLoaded", () => {
    // etiqueta <a>
    links.forEach((link) => {
      link.addEventListener("click", () => {
        const id = link.dataset.id;
        if (id) {
          document.getElementById(id)?.scrollIntoView({ behavior: "smooth" });
        }
      });
    });
  });
</script>
