---
import ReactAtom from "../atoms/ReactAtom.astro";
import BoxProyectMolecule from "../molecules/BoxProyectMolecule.astro";
import Projects from "@/samples/Projects.json";
---

<div
  class="sm:gap-24 sm:flex-row w-full h-full flex flex-col gap-4 justify-between"
>
  <div
    class="md:grid-cols-6 md:grid-rows-2 md:gap-4 w-full h-auto overflow-auto grid gap-2 grid-cols-3 grid-rows-2 justify-center"
  >
    {
      Projects.map((project, index) => (
        <BoxProyectMolecule data-project={index + 1} title={project.title} />
      ))
    }
  </div>
  <section id="details-project-content" class="sm:p-10 relative w-full p-4">
    <div class="w-full h-full flex flex-col gap-4 items-center justify-center">
      <ReactAtom style={"w-15 h-15"} />
      <p class="font-[OpenSansRegular] text-white text-xl uppercase">
        Mostrar Proyeto
      </p>
      <span
        class="font-[OpenSansLight] text-sm w-full text-center text-secondary"
        >Selecciona uno de los proyectos de la izquierda.</span
      >
    </div>
  </section>

  <script is:inline lang="ts">
    const data = {
      1: ` <div class="header-card">
      <h2 class="title-card-project">T-Money</h2>
      <div class="info_content">
        <span class="info">Página web</span>
        <span class="info">2024</span>
        <span class="info">ABDAK S.A.C</span>
      </div>
    </div>
    <div class="body-card">
      <div class="section">
        <span class="subtitle-card-project">Descripcion</span>
        <p class="description-card-project">
          Este proyecto fue realizado con el fin de mejorar las apuestas
          deportivas. Su principal distintivo, es que cuenta con un scanner
          deportivo, el cual ayuda a los clientes a tener una ida mas clara de
          cuanto se debe apostar al equipo de su elección.
        </p>
      </div>
      <div class="section">
        <span class="subtitle-card-project">Skills</span>
        <p class="badge-content">
          <span class="badge">ReactJS</span>
          <span class="badge">Express</span>
          <span class="badge">NodeJS</span>
          <span class="badge">Tailwind</span>
          <span class="badge">Zustand</span>
        </p>
      </div>
    </div>
    <div class="footer-card">
      <div class="section">
        <span class="subtitle-card-project">Enlace</span>
        <a href="#" alt="T-Money" class="link" >www.tmoney.com</a>
      </div>
    </div>`,
      2: ` <div class="header-card">
      <h2 class="title-card-project">Brenner Vera</h2>
      <div class="info_content">
        <span class="info">Página web</span>
        <span class="info">2024</span>
        <span class="info">ABDAK S.A.C</span>
      </div>
    </div>
    <div class="body-card">
      <div class="section">
        <span class="subtitle-card-project">Descripcion</span>
        <p class="description-card-project">
          Plataforma web que te ofrece variedad de cursos relacionado a crecimiento financiero. Brinda cursos como arbitraje deportivo, trading y hacker financiero.
        </p>
      </div>
      <div class="section">
        <span class="subtitle-card-project">Skills</span>
        <p class="badge-content">
          <span class="badge">ReactJS</span>
          <span class="badge">Express</span>
          <span class="badge">NodeJS</span>
          <span class="badge">Tailwind</span>
          <span class="badge">Zustand</span>
        </p>
      </div>
    </div>
    <div class="footer-card">
      <div class="section">
        <span class="subtitle-card-project">Enlace</span>
        <a href="#" class="link" alt="www.brennervera.com">Brenner Vera</a>
      </div>
    </div>`,
      3: ` <div class="header-card">
      <h2 class="title-card-project">Genera más pro</h2>
      <div class="info_content">
        <span class="info">Página web</span>
        <span class="info">2024</span>
        <span class="info">ABDAK S.A.C</span>
      </div>
    </div>
    <div class="body-card">
      <div class="section">
        <span class="subtitle-card-project">Descripcion</span>
        <p class="description-card-project">
          Landing Page enfocada en  ofrecer cursos sobre estrategias deportivas, para que los clientes sepan como apostar y generar más ingresos gracias a la apuestas deportivas.       
        </p>
      </div>
      <div class="section">
        <span class="subtitle-card-project">Skills</span>
        <p class="badge-content">
          <span class="badge">Astro</span>
          <span class="badge">TailwindCSS</span>
          <span class="badge">Typescript</span>
        </p>
      </div>
    </div>
    <div class="footer-card">
      <div class="section">
        <span class="subtitle-card-project">Enlace</span>
        <a href="#" class="link" alt="https://bio.generamaspro.com/">Genera Más Pro</a>
      </div>
    </div>`,
      4: ` <div class="header-card">
      <h2 class="title-card-project">metodo surebet</h2>
      <div class="info_content">
        <span class="info">Página web</span>
        <span class="info">2024</span>
        <span class="info">ABDAK S.A.C</span>
      </div>
    </div>
    <div class="body-card">
      <div class="section">
        <span class="subtitle-card-project">Descripcion</span>
        <p class="description-card-project">
          Plataforma web que busca captar la atención del cliente, y guiarlo paso a paso a lo largo del recorrido para maximizar resultados y conversiones. Integrada con el método de pago Izzipay.
        </p>
      </div>
      <div class="section">
        <span class="subtitle-card-project">Skills</span>
        <p class="badge-content">
          <span class="badge">Wordpress</span>
          <span class="badge">Elementor</span>
          <span class="badge">JavaScript</span>
          <span class="badge">PHP</span>
          <span class="badge">HTML</span>
          <span class="badge">CSS</span>
        </p>
      </div>
    </div>
    <div class="footer-card">
      <div class="section">
        <span class="subtitle-card-project">Enlace</span>
        <a href="#" class="link" alt="https://metodosurebet.com/funnel/registro/">Metodo Surebet</a>
      </div>
    </div>`,
      5: ` <div class="header-card">
      <h2 class="title-card-project">roller win</h2>
      <div class="info_content">
        <span class="info">Página web</span>
        <span class="info">2025</span>
        <span class="info">ABDAK S.A.C</span>
      </div>
    </div>
    <div class="body-card">
      <div class="section">
        <span class="subtitle-card-project">Descripcion</span>
        <p class="description-card-project">
          Plataforma web enfocada en optimizar la toma de decisiones en los juegos de azar, el casino. La plataforma integra un scanner de patrones, que analiza los resultados que se van ingresando, para asi tratar de calcular los probables resultados, reduciendo la incertidumbre y mejorando la estrategia.
        </p>
      </div>
      <div class="section">
        <span class="subtitle-card-project">Skills</span>
        <p class="badge-content">
          <span class="badge">ReactJS</span>
          <span class="badge">Express</span>
          <span class="badge">NodeJS</span>
          <span class="badge">Tailwind</span>
          <span class="badge">Zustand</span>
        </p>
      </div>
    </div>
    <div class="footer-card">
      <div class="section">
        <span class="subtitle-card-project">Enlace</span>
        <a href="#" class="link" alt="muy pronto">Roller Win</a>
      </div>
    </div>`,
    };

    const projects = document.querySelectorAll("button");
    const details_project = document.querySelector("#details-project-content");

    // Tomo el primero (0+1) del array
    if (details_project && projects.length > 0) {
      const firstElement = projects[1].dataset.project;
      if (firstElement) {
        details_project.innerHTML = data[firstElement];
        projects[1].classList.add("active");
        // projects[2].classList.add("inactive");
        // projects[3].classList.add("inactive");
        // projects[4].classList.add("inactive");
        // projects[5].classList.add("inactive");
      }
    }

    projects.forEach((pro) => {
      pro.addEventListener("click", () => {
        const index = pro.dataset.project;
        if (!index || !details_project) return;

        details_project.innerHTML = data[index];
        projects.forEach((p) => p.classList.remove("active"));
        pro.classList.add("active");
      });
    });
  </script>
</div>
