---
import BoxProyectMolecule from "../molecules/BoxProyectMolecule.astro";
import Projects from "@/samples/Projects.json";
---

<div class="w-full h-full flex gap-24">
  <div class="w-full h-fit grid grid-cols-6 grid-rows-2 gap-4">
    {
      Projects.map((project, index) => (
        <BoxProyectMolecule data-project={index + 1} title={project.title} />
      ))
    }
  </div>
  <div id="details-project" class="relative w-full h-full p-10">
    <!-- <div class="header-card">
      <h2 class="title-card-project">T-Money</h2>
      <div class="info_content">
        <span class="info">Página web</span>
        <span class="info">2024</span>
        <span class="info">ABDAK S.A.C</span>
      </div>
    </div>
    <div class="body-card">
      <div class="section">
        <span class="subtitle-card-project">Descripcion</span>
        <p class="description-card-project">
          Este proyecto fue realizado con el fin de mejorar las apuestas
          deportivas. Su principal distintivo, es que cuenta con un scanner
          deportivo, el cual ayuda a los clientes a tener una ida mas clara de
          cuanto se debe apostar al equipo de su elección.
        </p>
      </div>
      <div class="section">
        <span class="subtitle-card-project">Skills</span>
        <p class="badge-content">
          <span class="badge">ReactJS</span>
          <span class="badge">Express</span>
          <span class="badge">NodeJS</span>
          <span class="badge">Tailwind</span>
          <span class="badge">Zustand</span>
        </p>
      </div>
    </div>
    <div class="footer-card">
      <div class="section">
        <span class="subtitle-card-project">Enlace</span>
        <a href="#" class="link">ReactJS</a>
      </div>
    </div> -->
  </div>
</div>

<script is:inline lang="ts">
  const data = {
    1: ` <div class="header-card">
      <h2 class="title-card-project">T-Money</h2>
      <div class="info_content">
        <span class="info">Página web</span>
        <span class="info">2024</span>
        <span class="info">ABDAK S.A.C</span>
      </div>
    </div>
    <div class="body-card">
      <div class="section">
        <span class="subtitle-card-project">Descripcion</span>
        <p class="description-card-project">
          Este proyecto fue realizado con el fin de mejorar las apuestas
          deportivas. Su principal distintivo, es que cuenta con un scanner
          deportivo, el cual ayuda a los clientes a tener una ida mas clara de
          cuanto se debe apostar al equipo de su elección.
        </p>
      </div>
      <div class="section">
        <span class="subtitle-card-project">Skills</span>
        <p class="badge-content">
          <span class="badge">ReactJS</span>
          <span class="badge">Express</span>
          <span class="badge">NodeJS</span>
          <span class="badge">Tailwind</span>
          <span class="badge">Zustand</span>
        </p>
      </div>
    </div>
    <div class="footer-card">
      <div class="section">
        <span class="subtitle-card-project">Enlace</span>
        <a href="#" alt="T-Money" class="link" >www.tmoney.com</a>
      </div>
    </div>`,
    2: ` <div class="header-card">
      <h2 class="title-card-project">Brenner Vera</h2>
      <div class="info_content">
        <span class="info">Página web</span>
        <span class="info">2024</span>
        <span class="info">ABDAK S.A.C</span>
      </div>
    </div>
    <div class="body-card">
      <div class="section">
        <span class="subtitle-card-project">Descripcion</span>
        <p class="description-card-project">
          Plataforma web que te ofrece variedad de cursos relacionado a crecimiento financiero. Brinda cursos como arbitraje deportivo, trading y hacker financiero.
        </p>
      </div>
      <div class="section">
        <span class="subtitle-card-project">Skills</span>
        <p class="badge-content">
          <span class="badge">ReactJS</span>
          <span class="badge">Express</span>
          <span class="badge">NodeJS</span>
          <span class="badge">Tailwind</span>
          <span class="badge">Zustand</span>
        </p>
      </div>
    </div>
    <div class="footer-card">
      <div class="section">
        <span class="subtitle-card-project">Enlace</span>
        <a href="#" class="link" alt="www.brennervera.com">Brenner Vera</a>
      </div>
    </div>`,
    3: ` <div class="header-card">
      <h2 class="title-card-project">Genera más pro</h2>
      <div class="info_content">
        <span class="info">Página web</span>
        <span class="info">2024</span>
        <span class="info">ABDAK S.A.C</span>
      </div>
    </div>
    <div class="body-card">
      <div class="section">
        <span class="subtitle-card-project">Descripcion</span>
        <p class="description-card-project">
          Landing Page enfocada en  ofrecer cursos sobre estrategias deportivas, para que los clientes sepan como apostar y generar más ingresos gracias a la apuestas deportivas.       
        </p>
      </div>
      <div class="section">
        <span class="subtitle-card-project">Skills</span>
        <p class="badge-content">
          <span class="badge">Astro</span>
          <span class="badge">TailwindCSS</span>
          <span class="badge">Typescript</span>
        </p>
      </div>
    </div>
    <div class="footer-card">
      <div class="section">
        <span class="subtitle-card-project">Enlace</span>
        <a href="#" class="link" alt="https://bio.generamaspro.com/">Genera Más Pro</a>
      </div>
    </div>`,
    4: ` <div class="header-card">
      <h2 class="title-card-project">metodo surebet</h2>
      <div class="info_content">
        <span class="info">Página web</span>
        <span class="info">2024</span>
        <span class="info">ABDAK S.A.C</span>
      </div>
    </div>
    <div class="body-card">
      <div class="section">
        <span class="subtitle-card-project">Descripcion</span>
        <p class="description-card-project">
          Plataforma web que busca captar la atención del cliente, y guiarlo paso a paso a lo largo del recorrido para maximizar resultados y conversiones. Integrada con el método de pago Izzipay.
        </p>
      </div>
      <div class="section">
        <span class="subtitle-card-project">Skills</span>
        <p class="badge-content">
          <span class="badge">Wordpress</span>
          <span class="badge">Elementor</span>
          <span class="badge">JavaScript</span>
          <span class="badge">PHP</span>
          <span class="badge">HTML</span>
          <span class="badge">CSS</span>
        </p>
      </div>
    </div>
    <div class="footer-card">
      <div class="section">
        <span class="subtitle-card-project">Enlace</span>
        <a href="#" class="link" alt="https://metodosurebet.com/funnel/registro/">Metodo Surebet</a>
      </div>
    </div>`,
    5: ` <div class="header-card">
      <h2 class="title-card-project">roller win</h2>
      <div class="info_content">
        <span class="info">Página web</span>
        <span class="info">2025</span>
        <span class="info">ABDAK S.A.C</span>
      </div>
    </div>
    <div class="body-card">
      <div class="section">
        <span class="subtitle-card-project">Descripcion</span>
        <p class="description-card-project">
          Plataforma web enfocada en optimizar la toma de decisiones en los juegos de azar, el casino. La plataforma integra un scanner de patrones, que analiza los resultados que se van ingresando, para asi tratar de calcular los probables resultados, reduciendo la incertidumbre y mejorando la estrategia.
        </p>
      </div>
      <div class="section">
        <span class="subtitle-card-project">Skills</span>
        <p class="badge-content">
          <span class="badge">ReactJS</span>
          <span class="badge">Express</span>
          <span class="badge">NodeJS</span>
          <span class="badge">Tailwind</span>
          <span class="badge">Zustand</span>
        </p>
      </div>
    </div>
    <div class="footer-card">
      <div class="section">
        <span class="subtitle-card-project">Enlace</span>
        <a href="#" class="link" alt="muy pronto">Roller Win</a>
      </div>
    </div>`,
  };

  const projects = document.querySelectorAll("button");
  const details_project = document.querySelector("#details-project");

  // Tomo el primero (0+1) del array
  if (details_project && projects.length > 0) {
    const firstElement = projects[1].dataset.project;
    if (firstElement) {
      details_project.innerHTML = data[firstElement];
      projects[1].classList.add("active");
    }
  }

  projects.forEach((pro) => {
    pro.addEventListener("click", () => {
      const index = pro.dataset.project;
      if (!index || !details_project) return;

      details_project.innerHTML = data[index];
      projects.forEach((p) => p.classList.remove("active"));
      pro.classList.add("active");
    });
  });
</script>
