---
import StickerExperience from "../molecules/StickerExperience.astro";
---

<div class="w-full grid grid-cols-4 grid-rows-2 gap-24 p-4">
  <StickerExperience />
  <StickerExperience />
  <StickerExperience />
  <StickerExperience />
  <StickerExperience />
  <StickerExperience />
</div>
