---
import StickerAtom from "../atoms/StickerAtom.astro";
---

<div class="w-full grid grid-cols-4 grid-rows-1 gap-14">
  <StickerAtom
    title="React · React · React · React · React · React · React · React · React ~~~"
  />
  <StickerAtom
    title="Nextjs · Nextjs · Nextjs · Nextjs · Nextjs · Nextjs · Nextjs · Nextjs · Nextjs · "
  />
  <StickerAtom
    title="Javascript · Javascript · Javascript · Javascript · Javascript · Javascript · Javascript · Javascript · Javascript · "
  />
  <StickerAtom
    title="Nodejs · Nodejs · Nodejs · Nodejs · Nodejs · Nodejs · Nodejs · Nodejs · Nodejs · "
  />
  <StickerAtom
    title="StyleCss · StyleCss · StyleCss · StyleCss · StyleCss · StyleCss · StyleCss · StyleCss · StyleCss · "
  />
  <StickerAtom
    title="Tailwind · Tailwind · Tailwind · Tailwind · Tailwind · Tailwind · Tailwind · Tailwind · Tailwind · "
  />
  <StickerAtom
    title="Express · Express · Express · Express · Express · Express · Express · Express · Express · "
  />
  <StickerAtom
    title="Astro · Astro · Astro · Astro · Astro · Astro · Astro · Astro · Astro · "
  />
</div>
