---

---

<div class="w-9/12 h-12 overflow-hidden slider-content">
  <div class="w-full flex items-center gap-20 animate_slider">
    <img class="slide" src="../../../public/img/Slider/React.png" />
    <img class="slide" src="../../../public/img/Slider/Typescript.png" />
    <img class="slide" src="../../../public/img/Slider/Nextjs.png" />
    <img class="slide" src="../../../public/img/Slider/Figma.png" />
    <img class="slide" src="../../../public/img/Slider/Node.png" />
    <img class="slide" src="../../../public/img/Slider/Express.png" />
    <img class="slide" src="../../../public/img/Slider/Angular.png" />
    <img class="slide" src="../../../public/img/Slider/Postgresql.png" />
    <img class="slide" src="../../../public/img/Slider/Flutter.png" />
    <img class="slide" src="../../../public/img/Slider/GitHub.png" />
    <img class="slide" src="../../../public/img/Slider/Tailwindcss.png" />
    <!-- duplicados -->
    <img class="slide" src="../../../public/img/Slider/React.png" />
    <img class="slide" src="../../../public/img/Slider/Typescript.png" />
    <img class="slide" src="../../../public/img/Slider/Nextjs.png" />
    <img class="slide" src="../../../public/img/Slider/Figma.png" />
    <img class="slide" src="../../../public/img/Slider/Node.png" />
    <img class="slide" src="../../../public/img/Slider/Express.png" />
    <img class="slide" src="../../../public/img/Slider/Angular.png" />
    <img class="slide" src="../../../public/img/Slider/Postgresql.png" />
    <img class="slide" src="../../../public/img/Slider/Flutter.png" />
    <img class="slide" src="../../../public/img/Slider/GitHub.png" />
    <img class="slide" src="../../../public/img/Slider/Tailwindcss.png" />
  </div>
</div>
