---

---

<div class="md:h-12 w-full overflow-hidden slider-content">
  <div class="lg:gap-20 md:gap-4 w-full flex items-center gap-2 animate_slider">
    <img
      class="lg:w-full lg:h-auto w-30 h-10 slide"
      src="/public/img/Slider/React.png"
    />
    <img
      class="lg:w-full lg:h-auto w-30 h-10 slide"
      src="/public/img/Slider/Typescript.png"
    />
    <img
      class="lg:w-full lg:h-auto w-30 h-10 slide"
      src="/public/img/Slider/Nextjs.png"
    />
    <img
      class="lg:w-full lg:h-auto w-30 h-10 slide"
      src="/public/img/Slider/Figma.png"
    />
    <img
      class="lg:w-full lg:h-auto w-30 h-10 slide"
      src="/public/img/Slider/Node.png"
    />
    <img
      class="lg:w-full lg:h-auto w-30 h-10 slide"
      src="/public/img/Slider/Express.png"
    />
    <img
      class="lg:w-full lg:h-auto w-30 h-10 slide"
      src="/public/img/Slider/Angular.png"
    />
    <img
      class="lg:w-full lg:h-auto w-30 h-10 slide"
      src="/public/img/Slider/Postgresql.png"
    />
    <img
      class="lg:w-full lg:h-auto w-30 h-10 slide"
      src="/public/img/Slider/Flutter.png"
    />
    <img
      class="lg:w-full lg:h-auto w-30 h-10 slide"
      src="/public/img/Slider/GitHub.png"
    />
    <img
      class="lg:w-full lg:h-auto w-30 h-10 slide"
      src="/public/img/Slider/Tailwindcss.png"
    />
    <!-- duplicados -->
    <img
      class="lg:w-full lg:h-auto w-30 h-10 slide"
      src="/public/img/Slider/React.png"
    />
    <img
      class="lg:w-full lg:h-auto w-30 h-10 slide"
      src="/public/img/Slider/Typescript.png"
    />
    <img
      class="lg:w-full lg:h-auto w-30 h-10 slide"
      src="/public/img/Slider/Nextjs.png"
    />
    <img
      class="lg:w-full lg:h-auto w-30 h-10 slide"
      src="/public/img/Slider/Figma.png"
    />
    <img
      class="lg:w-full lg:h-auto w-30 h-10 slide"
      src="/public/img/Slider/Node.png"
    />
    <img
      class="lg:w-full lg:h-auto w-30 h-10 slide"
      src="/public/img/Slider/Express.png"
    />
    <img
      class="lg:w-full lg:h-auto w-30 h-10 slide"
      src="/public/img/Slider/Angular.png"
    />
    <img
      class="lg:w-full lg:h-auto w-30 h-10 slide"
      src="/public/img/Slider/Postgresql.png"
    />
    <img
      class="lg:w-full lg:h-auto w-30 h-10 slide"
      src="/public/img/Slider/Flutter.png"
    />
    <img
      class="lg:w-full lg:h-auto w-30 h-10 slide"
      src="/public/img/Slider/GitHub.png"
    />
    <img
      class="lg:w-full lg:h-auto w-30 h-10 slide"
      src="/public/img/Slider/Tailwindcss.png"
    />
  </div>
</div>
