---
import MessageAtom from "@/components/atoms/MessageAtom.astro";
import ExperienceCardOrganism from "@/components/organisms/ExperienceCardOrganism.astro";
import SkillsOrganism from "@/components/organisms/SkillsOrganism.astro";
---

<section
  id="experiencia"
  class="relative h-full w-full flex flex-col items-center justify-start border"
>
  <div class="absolute top-24 h-auto w-full flex flex-col items-center gap-14">
    <div class="w-full flex flex-col gap-1.5">
      <h1
        class="title w-full text-start text-5xl font-[MontserratRegular] uppercase"
      >
        Experiencias
      </h1>
      <span class="font-[OpenSansLight] text-sm">
        Conocimiento que fui adquiriendo con el pasar de los años.
      </span>
    </div>

    <div class="w-full h-full">
      <div class="w-full grid grid-cols-2 gap-5 border">
        <SkillsOrganism />
        <MessageAtom />
      </div>
      <div class="relative w-full h-full">
        <ExperienceCardOrganism />
      </div>
    </div>
  </div>
</section>
