---
import MessageAtom from "@/components/atoms/MessageAtom.astro";
import ExperienceOrganism from "@/components/organisms/ExperienceOrganism.astro";
import SkillsOrganism from "@/components/organisms/SkillsOrganism.astro";
---

<section id="exp" class="relative w-full h-screen py-24 flex flex-col gap-5">
  <div class="h-full w-full flex flex-col items-center gap-5">
    <div class="w-full flex flex-col gap-1.5">
      <h1
        class="title w-full text-start text-5xl font-[MontserratRegular] uppercase"
      >
        Experiencias
      </h1>
      <span class="font-[OpenSansLight] text-sm">
        Conocimiento que fui adquiriendo con el pasar de los años.
      </span>
    </div>

    <div class="w-full h-full">
      <div class="w-full grid grid-cols-2">
        <SkillsOrganism />
        <MessageAtom />
      </div>
      <div class="relative w-full h-full">
        <ExperienceOrganism />
      </div>
    </div>
  </div>
</section>
