---
import ButtonAtom from "@/components/atoms/ButtonAtom.astro";
import IconAtom from "@/components/atoms/IconAtom.astro";
import ScrollhintMolecule from "@/components/molecules/ScrollhintMolecule.astro";
---

<div class="w-full h-screen">
  <div class="w-full">
    <IconAtom />
    <div class="absolute top-0 left-0 w-full p-24 h-full">
      <div class="flex flex-col items-end h-full justify-between">
        <div class="flex flex-col items-end gap-4 w-full">
          <p
            class="w-11/12 text-end mb-0 uppercase text-8xl font-[MontserratBold]"
          >
            Programador WEB & dise침ador ux/ ui
          </p>
          <span class="text-lg w-5/12 text-end font-[OpenSansLight]"
            >Hola, mi nombre es Henry Castillo, soy un programador web,
            especializado en el dise침o de p치ginas web y aplicativos m칩viles.</span
          >
        </div>
        <ButtonAtom title={"Descargar CV"} style="w-fit" />
        <div class="w-full h-auto">
          <div class="flex justify-between items-center">
            <span>Slider Tecnologia</span>
            <ScrollhintMolecule />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
