---
import ProyectsOrganism from "@/components/organisms/ProyectsOrganism.astro";
---

<div id="proyectos" class="relative w-full h-screen py-24 flex flex-col gap-5">
  <div class="w-full flex flex-col gap-1.5">
    <h1
      class="title w-full text-start text-5xl font-[MontserratRegular] uppercase"
    >
      Proyectos
    </h1>
    <span class="font-[OpenSansLight] text-sm">
      Conoce alguno de los proyectos en los que trabajé recientemente
    </span>
  </div>
  <div class="w-full h-full">
    <ProyectsOrganism />
  </div>
</div>
