---
import ProyectsOrganism from "@/components/organisms/ProyectsOrganism.astro";
---

<div
  id="project"
  class="relative w-full h-screen sm:py-24 py-14 flex flex-col gap-5 overflow-hidden"
>
  <div class="w-full flex flex-col gap-1.5">
    <h1
      class="xl:text-5xl lg:text-4xl sm:text-3xl border-left border-l-1 pl-1.5 text-lg w-full text-start font-[MontserratRegular] uppercase text-primary-tailwind border_light"
    >
      Proyectos
    </h1>
    <span class="font-[OpenSansLight] text-[12px] text-secondary">
      Conoce alguno de los proyectos en los que trabajé recientemente
    </span>
  </div>
  <div class="w-full h-full">
    <ProyectsOrganism />
  </div>
</div>
